/* Enforcing light mode on all devices + forming the basic colour-scheme of the page */
:root {
	color-scheme: only light;
}

html {
	color-scheme: only light;
	data-theme: light;

	background: #FFF8D6;
	color: black;
}

.align-right {
	display: flex;
	margin-right: auto;
}

#languageSelectors {
	display: flex;
	margin-left: auto;
}

.languageSelect {
	display: inline;
	margin: 0px 2px;
	cursor: pointer;
}

#settings {
	background: #FFF5C6;
}

@media (prefers-color-scheme: dark) {
	html {
		background: #FFF8D6;
		color: black;
	}

	#settings {
		background: #FFF5C6;
	}
}

/* General appearance */
html {
	font-size: 16px;
}

/* Settings menu */
#settings {
	/* Center horizontally  */
	width: fit-content;
	margin: auto;
	/* Make some room for the content */
	padding: 15px;
	/* Round the corners */
	border-style: solid;
	border-radius: 25px;
}

/* Setting items (lines) */
.setting {
	/* Align the values next to the labels */
	display: flex;
	/* Make some space between them */
	margin-bottom: 5px;
}

/* Getting rid of the original spinner */
input[type="number"] {
	-webkit-appearance: textfield;
	   -moz-appearance: textfield;
			appearance: textfield;

	/* Set a fixed width and align the numbers to the right */
	width: 20px;
	text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* Styling the new spinner buttons */
.setting .spinner {
	/* Make some room around the buttons */
	margin: 3px 3px 0px 3px;
	/* Align the label to the center */
	display: flex;
	align-items: center;
	justify-content: center;
	/* Make the buttons round */
	width: 18px;
	height: 18px;
	border-radius: 50%;
	/* Styling the buttons */
	border: none;
	background: blue;
	color: white;
	font-weight: bold;
}

.setting .spinner-increase {
	/* Align the label to the center */
	padding-bottom: 2px;
	padding-left: 4px;
}

.setting .spinner-decrease {
	/* Align the label to the center */
	padding-bottom: 4px;
}

/* General spinner button settings */
.spinner {
	/* Make the cursor pointer to give feedback to the user */
	cursor: pointer;
}

/* Slider */
#frequencyOfLongNotes {
	/* Make room for the value indicator */
	width: 85%;
	margin: 0px;
	/* Align vertically with the value indicator */
	transform: translateY(3px);
}

/* The slider's value indicator */
#longNoteFrequencyValue {
	/* Place it next to the slider */
	display: inline-block;
	width: 13%;
	/* Push it to the other side */
	text-align: right;
}

/* Generate button */
#generateButton {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background: blue;
	color: white;
	font-weight: bold;
}

/* Separator dotted line */
#separator {
	/* border-style: dotted; */
	border: none;
	background-image: radial-gradient(circle, black 20%, transparent 25%);
	padding-top: 20px;
	background-size: 20px 20px;
	background-repeat: repeat-x;
}

/* Generated sheet */
#sheet-table {
	/* Center horizontally  */
	width: fit-content;
	margin: auto;
	text-align: center;
	/* Make room between the fingerings */
	border-spacing: 25px 0px;
}
